<app-sidebar></app-sidebar>
<main class="py-10 lg:pl-72">
    <div class="px-4 sm:px-6 lg:px-8">
        <form class="max-w-5xl mx-auto" #modiferProfileForm="ngForm"
            (ngSubmit)="modiferProfile(modiferProfileForm.value)">
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">
                        Votre profil
                    </h2>
                    <p class="mt-1 text-sm leading-6 text-gray-600">
                        Cette information sera affichée publiquement, alors soyez prudent sur les informations que vous
                        partagez.
                    </p>

                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                            <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Nom</label>
                            <div class="mt-2">
                                <div
                                    class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary ">
                                    <input [(ngModel)]="user.nom" type="text" name="nom" id="nom" autocomplete="nom"
                                        class="block flex-1  border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="username"
                                class="block text-sm font-medium leading-6 text-gray-900">Prenom</label>
                            <div class="mt-2">
                                <div
                                    class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary ">
                                    <input [(ngModel)]="user.prenom" type="text" name="prenom" id="prenom"
                                        autocomplete="prenom"
                                        class="block flex-1  border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                                        placeholder="janesmith">
                                </div>
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="adresse"
                                class="block text-sm font-medium leading-6 text-gray-900">Adresse</label>
                            <div class="mt-2">
                                <input [(ngModel)]="user.adresse" id="adresse" name="adresse"
                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6" />
                            </div>
                            <p class="mt-3 text-sm leading-6 text-gray-600">
                                ton adresse sera affichée publiquement
                            </p>
                        </div>

                        <div class="col-span-full">
                            <label for="photo" class="block text-sm font-medium leading-6 text-gray-900">Photo</label>
                            <div class="mt-2 flex items-center gap-x-3">
                                <svg class="h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                                        clip-rule="evenodd" />
                                </svg>
                                <input type="file" (change)="onFileSelected($event)"
                                    class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                            </div>
                            <!-- loading svg if is_uploading true -->
                            <div *ngIf="is_uploading" class="mt-2">
                                <svg class="animate-spin h-5 w-5 text-gray-900" viewBox="0 0 24 24" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M12 2a1 1 0 011 1v4a1 1 0 11-2 0V3a1 1 0 011-1zm0 16a1 1 0 01-1-1v-4a1 1 0 112 0v4a1 1 0 01-1 1zm-7.293-7.707a1 1 0 010-1.414l2-2a1 1 0 011.414 1.414L6.414 10 9 12.586a1 1 0 01-1.414 1.414l-2-2a1 1 0 010-1.414zm10.586 1.414a1 1 0 011.414-1.414l2 2a1 1 0 01-1.414 1.414L17.586 10l-2.586 2.586a1 1 0 01-1.414-1.414l2-2z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                        </div>

                        <div class="sm:col-span-full">
                            <label for="username"
                                class="block text-sm font-medium leading-6 text-gray-900">Telephone</label>
                            <div class="mt-2">
                                <div
                                    class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary ">
                                    <input [(ngModel)]="user.telephone" type="text" name="telephone" id="telephone"
                                        autocomplete="telephone"
                                        class="block flex-1  border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                                        placeholder="janesmith">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>




            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
                <button type="submit"
                    class="rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primaryDark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">
                    {{ is_uploading ? 'En cours...' : 'Enregistrer' }}
                </button>
            </div>
        </form>
    </div>
</main>