<app-sidebar></app-sidebar>

<main class=" lg:pl-72">
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="bg-white">
            <!--
              Mobile menu
          
              Off-canvas menu for mobile, show/hide based on off-canvas menu state.
            -->
            

            

            <main>
                <div class="mx-auto max-w-2xl px-4  sm:px-6 pt-6 lg:px-0">
                    <h1 class="text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                        Panier
                    </h1>

                    <form class="mt-12">
                        <section aria-labelledby="cart-heading">

                            <ul role="list" class="divide-y divide-gray-200 border-b border-t border-gray-200">
                                
                                <li *ngFor="let produit of ligneCommandes" class="flex py-6">
                                    <div class="flex-shrink-0">
                                        <img src="{{produit.produit.image}}"
                                            alt="Front of sienna cotton t-shirt."
                                            class="h-24 w-24 rounded-md object-cover object-center sm:h-32 sm:w-32">
                                    </div>

                                    <div class="ml-4 flex flex-1 flex-col sm:ml-6">
                                        <div>
                                            <div class="flex justify-between">
                                                <h4 class="text-sm">
                                                    <a href="#"
                                                        class="font-medium text-gray-700 hover:text-gray-800">{{produit.produit.nom_produit}}</a>
                                                </h4>
                                                <p class="ml-4 text-sm font-medium text-gray-900">
                                                    {{produit.quantite}} X {{produit.produit.prix}} TND
                                                </p>
                                            </div>
                                        </div>

                                        <div class="mt-4 flex flex-1 items-end justify-between">
                                            <p class="flex items-center space-x-2 text-sm text-gray-700">
                                                <svg class="h-5 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20"
                                                    fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                        d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                                <span>In stock</span>
                                            </p>
                                            
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </section>

                        <!-- Order summary -->
                        <section aria-labelledby="summary-heading" class="mt-10">
                            <h2 id="summary-heading" class="sr-only">Order summary</h2>

                            <div>
                                <dl class="space-y-4">
                                    <div class="flex items-center justify-between">
                                        <dt class="text-base font-medium text-gray-900">Total</dt>
                                        <dd class="ml-4 text-base font-medium text-gray-900">{{calculateTotal()}} TND</dd>
                                    </div>
                                </dl>
                                <p class="mt-1 text-sm text-gray-500">
                                    le prix total est calculé en fonction des produits ajoutés au panier
                                </p>
                            </div>

                            <div #paypalButtons class="mt-10"></div>

                            

                            <div class="mt-6 text-center text-sm text-gray-500">
                                <p>
                                    or
                                    <a href="/store" class="font-medium text-primary hover:text-primaryDark">
                                        retourné au catalogue
                                        <span aria-hidden="true"> &rarr;</span>
                                    </a>
                                </p>
                            </div>
                        </section>
                    </form>
                </div>

                <!-- Policy grid -->
                
            </main>

            
        </div>
    </div>
</main>